/* MentorsPage.css */
.mentors-page {
  padding: 20px;
  font-family: 'Georgia', serif;
  background-color: #f7f3e9;
  min-height: 100vh;
}

.mentors-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #884513;
}

.mentors-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.mentor-card {
  border: 1px solid #d2b48c;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, height 0.3s ease;
}

.mentor-card:hover {
  transform: translateY(-5px);
}

.mentor-header {
  padding: 15px;
  text-align: center;
}

.mentor-profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.mentor-details h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #8b4513;
}

.mentor-details p {
  margin: 10px 0;
  color: #6b4226;
}

.mentor-details a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.mentor-details a:hover {
    text-decoration: underline;
}
.toggle-dropdown-button {
    background-color: #8b4513;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.toggle-dropdown-button:hover {
    background-color: #6b4226;
}

/* Mentor Courses Section */
.mentor-courses {
  max-height: 0;
  overflow: hidden;
  padding: 0; /* Ensure no padding when hidden */
  opacity: 0;
  visibility: hidden; /* Hide from layout completely */
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.mentor-courses.expanded {
  max-height: 300px; /* Adjust based on content size */
  padding: 15px;
  opacity: 1;
  visibility: visible; /* Ensure only the expanded dropdown affects layout */
}

.mentor-courses h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.mentor-courses ul {
  list-style: none;
  padding: 0;
}

.mentor-courses li {
  margin-bottom: 8px;
}

.mentor-courses a {
  color: #0073e6;
  text-decoration: none;
}

.mentor-courses a:hover {
  text-decoration: underline;
}
